<include file="Public/head"/>

<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="cf">
           					<form id="search" class="form-inline" action="{:U('Ubss/index')}" method="get"> 
                                {$area_list}                              
                                <label class="inline">上报时间 </label> 
								<input type="text" name="at_time_start" value="{:I('at_time_start')}" class="form-control" id="at_time_start" style="width:96px"> -
								<input type="text" name="at_time_end" value="{:I('at_time_end')}" class="form-control" id="at_time_end" style="width:96px">	                                                                                                                                                                       
                                <label class="inline"></label>
                                <select name="type" class="form-control">
                                    <option value="0">--分类--</option>
                                    <option value="djiptv" <if condition="I('type') eq 'djiptv'">selected="selected"</if>>iptv党建</option>
                                    <option value="yliptv" <if condition="I('type') eq 'yliptv'">selected="selected"</if>>iptv医疗</option>
                                </select>&nbsp;&nbsp;  
                                <button id="search_btn" type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>                          
                        </div>
                        <div class="space-4"></div>
                        <form id="form" method="post" action="">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th class="center"><input class="check-all" type="checkbox" value=""></th>
                                    <th>地区</th>
                                    <th>数量</th>
                                    <th>编号</th>
                                    <th>日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="device_map_info" id="val">
                                    <tr>
                                        <td class="center"><input class="aids" type="checkbox" name="aids[]" value="{$val['program_id']}"></td>                                                                 
                                        <td>{$val['area']}</td>                                       
                                        <td>{$val['number']}</td>
                                        <td>{$val['city_code']}</td>
                                        <td>{$val['at_time']}</td>  
                                        <td><a href="{:U('index_list',array('city_code'=>$val['city_code'],'at_time'=>$val['at_time'],'type'=>$user_type[0]))}">查看</a></td>                               
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </form>
                        <div class="cf">
                            {$page} 每页显示: {$pagesize} 条 ,&nbsp;&nbsp;共: {$count} 条   &nbsp;&nbsp; 目前总开户数 {$accounts} {$user_type[1]}
                        </div>
                        
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
jQuery(function ($) {
     $('#at_time_start').datepicker({
          format: 'yyyy-mm-dd',
          weekStart: 1,
          autoclose: true,
          todayBtn: 'linked',
          language: 'cn'
     });	     
     $('#at_time_end').datepicker({
          format: 'yyyy-mm-dd',
          weekStart: 1,
          autoclose: true,
          todayBtn: 'linked',
          language: 'cn'
     });	     
 });    
</script>
</body>
</html>
