<include file="Public/head"/>

<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="cf">
                            <form class="form-inline" action="{:U('ProgramSeries/index')}" method="get">
                                <a class="btn btn-info" href="{:U('add')}" value="">新增</a>
                                <a class="btn btn-info" href="{:U('import')}" value="">导入</a> 
                                <label class="inline">年份</label>
							    <input type="text" name="years" style="width:50px;" id="years" value="{$program_series['years']}">

                                <label class="inline">节目集标题</label>
                                <input type="text" name="keyword" value="{:I('keyword')}" class="form-control">

                                <label class="inline">&nbsp;&nbsp;节目集排序：</label>
                                <select name="order" class="form-control">
                                    <option value="desc" <if condition="I('order') eq desc">selected</if>>创建时间降序</option>
                                    <option value="asc" <if condition="I('order') eq asc">selected</if> >创建时间升序</option>

                                </select>

								<label class="inline">&nbsp;&nbsp;状态：</label>
								<select name="status" class="form-control">
								      <option value="0">------</option>
								      <option value="offline" <if condition="I('status') eq offline">selected</if>>OFFLINE</option>
								      <option value="nopass" <if condition="I('status') eq nopass">selected</if>>NOPASS</option>
								      <option value="online" <if condition="I('status') eq online">selected</if>>ONLINE</option>
								</select>

                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>
                        </div>
                        <div class="space-4"></div>
                        <form id="form" method="post" action="{:U('del')}">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th class="center"><input class="check-all" type="checkbox" value=""></th>
                                    <th>节集ID</th>
                                    <th>节目集标题</th>
                                    <th>年份</th>
                                    <th>类型</th>                                    
                                    <th>创建时间</th>
                                    <th>状态</th>
                                    <th>区域</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="list" id="val">
                                    <tr>
                                        <td class="center"><input class="aids" type="checkbox" name="aids[]" value="{$val['program_series_id']}"></td>                                                                                                       
                                        <td>{$val['program_series_id']}</td>
                                        <td><a title="{$val['program_series_name']}" style="text-decoration:none; color:#393939">{$val['program_series_name']|str_cut=42}</a></td>
                                        <td>{$val['years']}</td>
                                        <td>{$val['program_class']}</td>                                        
                                        <td>{$val['create_date']}</td>
                                        <td <if condition="strtolower($val['status']) eq 'online'">style="color:#70b165"<elseif condition="strtolower($val['status']) eq 'offline'"/>style="color:#ffb752"<else/>style="color:#f7573c"</if>>{$val['status']}</td>
                                        <td>{$val['area_name']}</td>
                                        <td><a href="{:U('edit',array('aid'=>$val['program_series_id']))}"><i
                                                class="ace-icon fa fa-pencil bigger-100"></i>修改</a>&nbsp;&nbsp;<a
                                                href="javascript:;" val="{:U('del',array('aids'=>$val['program_series_id']))}" class="del"><i
                                                class="ace-icon fa fa-trash-o bigger-100 red"></i>删除</a>&nbsp;&nbsp;<a
                                                href="{:U('review',array('aid'=>$val['program_series_id']))}" target="_blank"><i
                                                class="ace-icon fa fa-circle-o-notch bigger-100"></i>审核</a>
                                                &nbsp;&nbsp;<a
                                                href="{:U('ProgramBind/view',array('aids'=>$val['program_series_id']))}"><i
                                                class="ace-icon fa fa-arrows bigger-100 red"></i>查看</a> [节目数{$val['program_count']}]</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </form>
                        <div class="cf">
                            <input id="del" class="btn btn-info" type="button" value="删除">
                            <input id="offline" class="btn btn-info" type="button" value="下线">
                            <input id="online" class="btn btn-info" type="button" value="上线">
                        </div>
                        {$page} 每页显示: {$pagesize} 条 ,&nbsp;&nbsp;共: {$count} 条
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(function () {
        $(".check-all").click(function () {
            $(".aids").prop("checked", this.checked);
        });
        $(".aids").click(function () {
            var option = $(".ids");
            option.each(function (i) {
                if (!this.checked) {
                    $(".check-all").prop("checked", false);
                    return false;
                } else {
                    $(".check-all").prop("checked", true);
                }
            });
        });
        $("#del").click(function () {
    		if(!$('.aids').is(':checked')) {
   		     	layer.msg('请选择要删除的节目！');  
   		     	return;
   		    }
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除所选节目集？",
                callback: function (result) {
                    if (result) {
                    	$("form").attr("action","del").submit();
                        //$("#form").submit();
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
        $(".del").click(function () {
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除该节目集？",
                callback: function (result) {
                    if (result) {
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });     
    })
    //上线    
    $("#online").click(function () {
		if(!$('.aids').is(':checked')) {
	     	layer.msg('请选择要上线的节目！');  
	     	return;
	    }
        bootbox.confirm({
            title: "系统提示",
            message: "是否要上线所选节目集？",
            callback: function (result) {
                if (result) {
                	$("form").attr("action","online").submit();
                }
            },
            buttons: {
                "cancel": {"label": "取消"},
                "confirm": {
                    "label": "确定",
                    "className": "btn-danger"
                }
            }
        });
    });	
    
    //下线    
    $("#offline").click(function () {
		if(!$('.aids').is(':checked')) {
	     	layer.msg('请选择要下线的节目！');  
	     	return;
	    }
        bootbox.confirm({
            title: "系统提示",
            message: "是否要下线所选节目集？",
            callback: function (result) {
                if (result) {
                	$("form").attr("action","offline").submit();
                }
            },
            buttons: {
                "cancel": {"label": "取消"},
                "confirm": {
                    "label": "确定",
                    "className": "btn-danger"
                }
            }
        });
    });	    
	jQuery(function ($) {
	     $('#years').datepicker({
	         format: 'yyyy',  
	         weekStart: 1,  
	         autoclose: true,  
	    	 startView: 2,  
	    	 maxViewMode: 2,
	    	 minViewMode:2, 
	    	 language: 'cn'  
	     });		     
	 });    
</script>
</body>
</html>
